<h1>Editing example task</h1>

<%= render "form", example_task: @example_task %>

<br>

<div>
  <%= link_to "Show this example task", @example_task %> |
  <%= link_to "Back to example tasks", example_tasks_path %>
</div>
